<div class="card mb-4">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-right"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">{{ book.rating }}</span>
      </h2>
    </div>

    <ng-container *ngFor="let s of getStars()">
      ⭐️
    </ng-container>

    <p>{{ book.description }}</p>

    <p>Preis: {{ book.price | currency:'EUR' }}</p>
  </div>
</div>



<!--
Emoji-Keyboard: Windows + .
-->
